body {
    width: 200px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="submit"] {
    margin-bottom: 10px;
  }
  